
  <div class="container">
    <table class="table is-narrow is-hoverable is-fullwidth is-mobile mt-4" style="background-color: rgb(245, 203, 203); border-radius: 10px;box-shadow:4px 4px .3rem; color:grey;">
      <div class="is-flex is-justify-content-flex-end">
        <a href="last.am/grid_view">
          <div class="hast-text-right is-flex is-flex-wrap-wrap mt-5 mr-3" style="width:24px;height:24px;">
            <div class="square" style="border-radius: 2px;margin: 1px;width:10px;height:10px; border: 3px solid grey;"></div>
            <div class="square" style="border-radius: 2px;margin: 1px;width:10px;height:10px; border: 3px solid grey;"></div>
            <div class="square" style="border-radius: 2px;margin: 1px;width:10px;height:10px; border: 3px solid grey;"></div>
            <div class="square" style="border-radius: 2px;margin: 1px;width:10px;height:10px; border: 3px solid grey;"></div>
          </div>
        </a>
      </div>
      <%for (let i=data.length -1;i>=0;i--){%>
      <tr class="is-clickable">
        <div>
          <td style="width:10rem;" valign="middle" align="left">
            <a href="/last.am/show/<%=data[i]._id%>">
              <div class="my-1">
                <img class="image is-128x128" src=" <%=data[i].gameScreen%>" style="border-radius: 4px;">
              </div>
            </a>
          </td>
          <td class="is-vcentered has-text-centered">
            <a href="/last.am/show/<%=data[i]._id%>">
              <%=data[i].gameName%>
            </a>
          </td>
          <td class="is-vcentered">
            <a href="/last.am/show/<%=data[i]._id%>">
              <%=data[i].pub%>
            </a>
          </td>
          <td class="is-vcentered">
            <a href="/last.am/show/<%=data[i]._id%>">
              <%=data[i].year%>
            </a>
          </td>
        </div>
      </tr>

      <%}%>
    </table>
    </div>