<div class="columns is-gapless is-3 is-flex is-flex-wrap-wrap is-justify-content-center pt-2" style="background-color: rgb(245, 203, 203); border-radius: 10px;margin-top:3rem;box-shadow:4px 4px .3rem; color:grey;">
  <%let listNum = 0%>
  <%for (let i=data.length;i>=0;i--){%>
  <% if (i < ((data.length)-(pageNum * 10))&& listNum < 10) {%>
  <% listNum ++ %>
  <div class="column is-flex is-flex-direction-column is-2-widescreen is-3 is-5-mobile m-2" style="border-radius: 8px;background-color: rgb(123, 192, 189);box-shadow:4px -2px .3rem; color:grey;border-right:7px solid rgba(15, 99, 86, 0.411);border-top:3px solid rgba(53, 152, 137, 0.411)">
    <a href="/last.am/show/<%=data[i]._id%>">
      <div class="p-2" style="border:2px solid rgb(50, 41, 41);border-radius: 5px 5px 0 0;background-color: rgba(54, 42, 42, 0.542);">
        <img class="image m-auto" style="z-index: 1; height:130px;width:100%;border-radius:4px;border: 2px solid rgba(62, 52, 52, 0.713);box-shadow: 0px 0px .4rem;color:rgb(192, 180, 180)" src=" <%=data[i].titleScreen%>">
      </div>
    </a>
    <a href="/last.am/show/<%=data[i]._id%>">
      <div class="" style="border-radius:3px;height:100%">
        <div class="column is-4 is-offset-8 has-text-right p-1" style="">
          <%=data[i].year%>
        </div>
        <div class="p-1" style="">
          <%=data[i].gameName%>
        </div>
      </div>
    </a>
  </div>
  <%}%>
    <%}%>

</div>
<div class="pagination-list">
  <% for(let i=1, x=0;x<=((data.length-1) /10);i++, x++){ %>
  <a class="button pagination-link" href="/page/<%=x%>"><%=i%></a>
  <%}%>
  </div>