

  <section style="margin-top:4rem;">
    <div class="container">
      <div class="has-text-right is-size-1 mr-3" style="color:grey;display:block; line-height: .15;">
        <a style="color:grey;" href=" /last.am/list_view">
          _<br>_ <br>_ <br>_
        </a>
      </div>
      <div style="height: .2rem;"></div>
      <div class="container is-flex is-justify-content-space-around is-flex-wrap-wrap mt-5" style="background-color: rgb(245, 203, 203); border-radius: 10px;margin-top:3rem;box-shadow:4px 4px .3rem; color:grey;">
        <%for (let i=data.length -1;i>=0;i--){%>
        <div class="container column is-3 m-3 is-flex is-justify-content-center" style="min-width:9rem;max-width:14rem;border-radius: 5px;background-color: rgb(123, 192, 189);box-shadow:4px 4px .3rem; color:grey;border: 3px solid rgb(40, 138, 123);">

          <div>
            <a href="/last.am/show/<%=data[i]._id%>">
              <div class="my-1">
                <img class="image m-auto is-128x128" style="border-radius:4px;" src=" <%=data[i].gameScreen%>">
              </div>
            </a>
            <a href="/last.am/show/<%=data[i]._id%>">
              <%=data[i].gameName%>
              <div class="is-vcentered">
                <%=data[i].pub%>
                <%=data[i].year%>
            </a>
          </div>
        </div>
      </div>
      <%}%>
        </div>
    </section>