

  <section class="is-flex is-justify-content-flex-start">
    <div class="container has-text-centered">
      <div class="has-text-right is-size-1 mr-3" style="color:grey;display:block; line-height: .15;">
        <a style="color:grey;" href=" /last.am/list_view">
          _<br>_ <br>_ <br>_
        </a>
      </div>
      <div style="height: .2rem;"></div>
      <div class="columns p-1 is-flex is-flex-wrap-wrap mt-5" style="background-color: rgb(245, 203, 203); border-radius: 10px;margin-top:3rem;box-shadow:4px 4px .3rem; color:grey;">
        <%for (let i=data.length -1;i>=0;i--){%>
        <div class="container column is-4 mobile m-3 is-flex is-justify-content-center" style="min-width:9rem;max-width:13rem;border-radius: 5px;background-color: rgb(123, 192, 189);box-shadow:4px 4px .3rem; color:grey;border: 3px solid rgb(40, 138, 123);">

          <div>
            <a href="/last.am/show/<%=data[i]._id%>">
              <div class="my-1">
                <img class="image m-auto is-128x128" style="border-radius:4px;border: 2px solid rgb(62, 52, 52);" src=" <%=data[i].gameScreen%>">
              </div>
            </a>
            <a href="/last.am/show/<%=data[i]._id%>">
            <div class="is-size-5 has-text-left">
              <%=data[i].gameName%>
              </div>
              <div class="is-size-6 has-text-right" style="grid-area: 2/2/4/4;">
                <%=data[i].year%>
                </div>
            </a>
        </div>
      </div>
      <%}%>
        </div>
    </section>