<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>last.am || Edit Game Details</title>
</head>

<body>
  <%-  include('./partials/header.ejs')%>
  <div class="container column is-6 is-justify-content-space-between" style="margin-top:4rem;">
    <form class="form has-text-centered" action='/last.am/edit_game/<%=data._id%>?_method=PUT' method="POST">
      <input class="input m-1" type="text" name="gameName" value="<%=data.gameName%>" placeholder="Name of game" /><br>
      <input class="input m-1" type="text" name="pub" value="<%=data.pub%>" placeholder="Publisher" />
      <input class="input m-1" type="text" name="dev" value="<%=data.dev%>"  placeholder="Developer" /><br>
      <input class="input m-1" type="text" name="genre" value="<%=data.genre%>" placeholder="Genre">
      <input class="input m-1" type="text" name="year" value="<%=data.year%>" placeholder="Year of release" /><br>
      <input class="input m-1" type="text" name="titleScreen" value="<%=data.titleScreen%>" placeholder="Title screen img URL" /><br>
      <input class="input m-1" type="text" name="gameScreen" value="<%=data.gameScreen%>" placeholder="Gameplay screenshot URL" /><br>
      <textarea class="input m-1" style="height:10rem;" type="text" name="synopsis" placeholder="Write a synopsis for the game"><%=data.synopsis%></textarea>
      <input class="button" type="submit" value="Edit Entry" />
    </form>
    <div class="is-flex is-justify-content-space-between is-center">
      <a href="/last.am/show/<%= data._id %> ">
        <input class="button" type="button" value="back">
      </a>
    <form action="/last.am/edit/<%=data._id%>?_method=DELETE" method="POST">
      <input class="button" type="submit" value="DELETE" />
    </form>
    </div>
    </div>
</body>

</html>