<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <section style="margin-top:4rem;">
    <div class="container">
    <table class="table is-narrow is-hoverable is-fullwidth is-mobile mt-4" style="background-color: rgb(245, 203, 203); border-radius: 10px;box-shadow:4px 4px .3rem; color:grey;">
    <%for (let i=data.length -1;i>=0;i--){%>
            <tr>
            
                <div>
                    <td valign="middle" align="center">
                      <a href="/last.am/show/<%=data[i]._id%>">
                            <div class="my-1">
                                <img class="image is-128x128" src=" <%=data[i].gameScreen%>">
                            </div>
                        </a>
                    </td>
                    <td class="is-vcentered">
                        <a href="/last.am/show/<%=data[i]._id%>">
                            <%=data[i].gameName%>
                            </a>
                    </td>
                    <td class="is-vcentered">
                        <%=data[i].pub%>
                    </td>
                    <td class="is-vcentered">
                        <%=data[i].year%>
                    </td>
                </div>
            </tr>
    <%}%>
    </table>
    </div>
    </section>
</body>
</html>