<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <section>
    <div class="container">
    <table class="table is-striped is-narrow is-fullwidth is-hoverable mt-4 has-background-danger-light">
    <%for (let i=data.length -1;i>=0;i--){%>
            <tr>
                <td>
                  <a href="/last.am/show/<%=data[i]._id%>">
                        <figure > 
                            <img class="image is-128x128 p-2" src="<%=data[i].gameScreen%>">
                        </figure>
                    </a>
                </td>
                <td class="is-vcentered">
                    <a href="/last.am/show/<%=data[i]._id%>">
                        <%=data[i].gameName%>
                    </a>
                </td>
                <td class="is-vcentered">
                    <%=data[i].pub%>
                </td>
                <td class="is-vcentered">
                    <%=data[i].year%>
                </td>
            </tr>
    <%}%>
    </table>
    </div>
    </section>
</body>
</html>