<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1 class="has-background-grey-lighter is-size-1 has-text-centered">Last.am</h1>
    <h2 class="is-size-3 has-text-centered my-5"><%=data.gameName%></h2>
    <section>
    <div class="container is-flex is-align-items-center">
    <div class="columns is-5">
    <div class="">
        <figure>
            <img class="image show-img"  src="<%=data.titleScreen%>">
        </figure>
        <figure>
            <img class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
        </figure>
        </div>
    <div class="column is-3 has-text-centered">
        <h1 class="is-size-5 mt-2">Publisher:</h1><br>
        <p class="is-size-5 mb-2"><%=data.pub%></p>
        <h1 class="is-size-5 mt-2">Developer:</h1><br>
        <p class="is-size-5 mb-2"><%=data.dev%></p>
        <h1 class="is-size-5 mt-2">Release Year:</h1><br>
        <p class="is-size-5 mb-2"><%=data.year%></p>
        <div class="" style="max-height: 15rem; overflow: scroll; grid-area: 3/6/12/6;">
          <p><%=data.synopsis%></p>
        </div>
    </div>
    
    <div class="column is-4">
        <div class="has-text-centered">
        <% if(data.comments.length > 0){%>
        <%for(let i=data.comments.length -1; i>=0; i--){%>
        <p><%=data.comments[i]%></p>
        <%}}%>
        <a href="/last.am/comment/<%=data._id%>">
        <input class="button" type="button" value="Add Scrobble">
        </a>
        </div>
    </div>
    </div>
    </div>
    </section>
</body>
</html>