<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>last.am || <%=data.gameName%></title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <section class="section" style="background-color: rgb(253, 191, 191);">
    <div class="columns is-multiline" style="background-color: rgb(253, 191, 191)">
      <h2 class="column is-6 is-offset-3 is-size-2 has-text-centered my-5"><%=data.gameName%></h2>
        <%- include('./partials/show_imgs.ejs')%>
       <%- include('./partials/show_info.ejs') %>
       <%- include('./partials/show_log.ejs') %>
       </div>
    </section>
</body>
</html>