<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>last.am || <%=data.gameName%></title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <section class="section" style="background-color: rgb(238, 169, 169);">
      <h2 class="is-size-2 has-text-centered my-5"><%=data.gameName%></h2>
      <div class="columns">
        <%- include('./partials/show_imgs.ejs')%>
      <div class="column">
        <div class="columns is-multiline">
       <%- include('./partials/show_info.ejs') %>
       <%- include('./partials/show_log.ejs') %>
       </div>
       </div>
       </div>
       </section>
    </section>
</body>
</html>