<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <%-  include('./partials/header.ejs')%>
    <h2 class="is-size-3 has-text-centered my-5"><%=data.gameName%></h2>
    <section>
    <div class="container is-flex is-align-items-center">
    <div class="columns">
    <div class="column is-4" >
        <figure>
            <img class="image show-img" src="<%=data.titleScreen%>">
        </figure>
        <figure>
            <img class="image show-img my-2" src="<%=data.gameScreen%>" alt="">
        </figure>
        </div>
    <div class="column is-4 has-text-centered">
        <h1 class="is-size-5 mt-2">Genre:</h1><br>
        <p class="is-size-6 mb-4 has-text-primary-light"><%=data.genre%></p>
        <h1 class="is-size-5 mt-2">Publisher:</h1><br>
        <p class="is-size-6 mb-4 has-text-primary-light"><%=data.pub%></p>
        <h1 class="is-size-5 mt-2">Developer:</h1><br>
        <p class="is-size-6 mb-4 has-text-primary-light"><%=data.dev%></p>
        <h1 class="is-size-5 mt-2">Release Year:</h1><br>
        <p class="is-size-6 mb-4 has-text-primary-light"><%=data.year%></p>
        
    </div>    
    <div class="column is-3" style="max-height:22rem">
    <h1>Total play time:</h1>
    <p><%=data.playTimeHours%> hours and <%=data.playTimeMinutes%> minutes</p>
    <% if(data.comments.length > 0){%>
        <div class="p-2" style="max-height:20rem;border: 2px solid grey; overflow-y: scroll; border-radius: 7px;background-color: rgba(203, 231, 216, 0.812);">
        <%for(let i=data.comments.length -1; i>=0; i--){%>
        <h1 class="mt-2" style="text-decoration: underline;">You said:</h1>
        <p class="my-3"><%=data.comments[i]%></p>
        <form class="has-text-right" action='/last.am/delete_comment/<%=data._id%>/<%=data.comments[i]%>?_method="PUT"' method="POST">
        <input class="button is-small" type="submit" value="delete">
        </form>
        <%}%>
        </div>
        <%}%>
        <a href="/last.am/comment/<%=data._id%>">
          <input class="button my-2" type="button" value="Add Comment">
        </a>
        <a href="/last.am/log_time/<%=data._id%>"><input class="button m-2" type="button" value="log time" /></a>
        
    </div>
    </div>
    </div>
    </section>
    <div class="columns">
    <div class="mt-6 column is-7 is-offset-4" style="max-height: 15em; overflow-y: scroll;background-color: rgba(203, 231, 216, 0.812);">
      <p><%=data.synopsis%></p>
    </div>
    </div>
    <a href="/last.am/edit/<%=data._id%>">
      <input class="button m-5" type="button" value="Edit Entry">
    </a>
</body>
</html>